node_modules
# Keep environment variables out of version control
.env
.next
package-lock.json

# Node.js
node_modules/

# Next.js
.next

frontend/node_modules
.next

frontend/.next/

frontend/.next

# Environment variables
.env

# Visual Studio Code
.vscode/

# Logs
*.log

# Build files
out/
build/

# Other temporary files
.DS_Store
Thumbs.db
